{% extends 'TodoBundle::base.html.twig' %}

{% block title %}TODO list{% endblock %}

{% block body %}
    <h2>Account</h2>
    <p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Hi, {{ app.user.username }}! <a href="{{ path('logout') }}"><button class="btn btn-primary">Logout</button></a>
        {% else %}
            <a href="{{ path('login') }}"><button class="btn btn-primary">Login</button></a>
            <a href="{{ path('register') }}"><button class="btn btn-primary">Register</button></a>
        {% endif %}
    </p>
    <h2>List</h2>
    <p><a href="{{ path('add') }}"><button class="btn btn-primary">Add new TODO</button></a></p>
    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Added date</th>
            <th>Realised?</th>
            <th>Actions</th>
        </tr>
        {% for todo in list %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.addedDate|date('d-m-Y H:i') }}</td>
                <td>
                    {% if todo.realised == 1 %}
                        <span class="label label-success">Yes</span>
                    {% else %}
                        <span class="label label-danger">No</span>
                    {% endif %}
                </td>
                <td>
                    {% if todo.realised == 1 %}
                        <a href="{{ path('realised', {'id': todo.id, 'action': 'unrealised'}) }}">
                            <button class="btn btn-danger btn-xs">Set as unrealised</button></a>
                    {% else %}
                        <a href="{{ path('realised', {'id': todo.id, 'action': 'realised'}) }}">
                            <button class="btn btn-success btn-xs">Set as realised</button></a>
                    {% endif %}
                    <a href="{{ path('edit', {'id': todo.id}) }}">
                        <button class="btn btn-default btn-xs">Edit</button></a>
                    <a href="{{ path('delete', {'id': todo.id}) }}">
                        <button class="btn btn-default btn-xs">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}